<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Release-only: lock down AiAutomationReceiver to prevent external intent injection.
             Any app on the device could send AI_ACTION intents (INJECT_GPS, CREATE_RIDE,
             ACCEPT_OFFER, ADVANCE_RIDE_STATUS) if this is exported=true. -->
        <receiver
            android:name=".automation.AiAutomationReceiver"
            android:exported="false"
            tools:replace="android:exported" />
    </application>
</manifest>
